{% extends 'base.html' %}

{% block title %}
QwithuBot
{% endblock %}

{% block body %}
<h1 id="main_head_text">Qwithu Bot</h1>
<h2 id="main_down_head_text">Простой и удобный бот для Discord</h2>

<div class="moderation">
  <h3 id="main_1_up_text">Система модерации</h3>
  <h3 id="main_1_down_text">Следите за порядком на своём сервере с помощью специальных алгоритмов нашего бота.</h3>
</div>


<div class="levels">
  <h3 id="main_2_up_text">Уровни</h3>
  <h3 id="main_2_down_text">Используйте систему уровней для поощрения участников за общение.</h3>
  <img src={{url_for('static', filename = 'img/Screenshot_4.png')}} alt="levels" id="main_2_img">
</div>

<div class="functions">
  <h3 id="main_1_up_text">Множество функций</h3>
  <h3 id="main_1_down_text">Используйте безграничные возможности нашего бота для оформления своего сервера абсолютно бесплатно!</h3>
</div>

{% endblock %}
